.trigger_notify_box {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    max-width: 90%;
    padding-top: 15px;
    padding-right: 15px;
    z-index: 9999;
}

.trigger_notify_timer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4%;
    background: rgba(0, 0, 0, 0.5);
}

.trigger_notify {
    position: relative;
    margin-top: 20px;
    padding: 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    overflow: hidden;
    margin-bottom: 15px;

    p {
        margin-bottom: 0;
        color: #fff;
    }

    &.trigger_notify_blue {
        background-color: #008EC0;
        color: #FFF;
    }

    &.trigger_notify_green {
        background-color: rgba(76, 175, 80, 0.88);
        color: #FFF;
    }

    &.trigger_notify_red {
        background-color: rgba(177, 40, 46, 0.88);
        color: #FFF;
    }
}

.border-highlight {
    border: 1px solid #cd1219 !important;
}
